@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css');
/*estilo body*/
html,body
{
    font-family: 'Poppins' !important;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    margin: 0 0 100px; /* bottom = footer height */
    position: relative;
    min-height: 100%;
}

a 
{
    text-decoration: none;
    color: rgba(34,54,69,.7) !important;
    font-weight: 900;
}

a:hover
{
    color: tomato !important;
}
/*Estilo boton*/
.btn-sm:hover
{
    color: tomato !important;
    background-position: 0 -15px;
}

.btn-sm
{
    font-family: 'Poppins';
    font-weight: bolder !important;    
}
.btn-outline-success
{
    color: rgba(34,54,69,.7) !important;
    border-color: rgba(34,54,69,.7) !important;

}
.btn-outline-success:hover
{
    color: white !important;
    background-color: tomato !important;
    border: tomato !important;
}
/*Logo*/
.navbar
{
    background: white !important;
    padding: 3rem 2rem;
    min-height: 0rem;
    min-height: 12vh;
}
.navbar .nav-brand a
{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}
.navbar-brand
{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem !important;
    color: tomato !important;
}
.navbar-expand-lg .navbar-nav .nav-link
{
    padding: 2rem 1.2rem;
    font-size: 1.5rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover
{
    border-top: tomato !important;
}
.navbar-expand-lg .navbar-nav .nav-link:active
{
    border-top: tomato !important;
    color: tomato !important;
}
.navbar-toggler
{
    background-color: tomato !important;
    border: none ;
    padding: 10px 6px !important;
    outline: none ;
}
.navbar-toggler span
{
    display: block ;
    width: 22px ;
    height: 2px;
    border: 1px ;
    background: white ;
    background-color: white ;
}
.navbar-toggler span + span
{
    margin-top: 4px ;
    width: 18px ;
    margin-left: 4px ; 
}
.navbar-toggler span + span + span
{
    width: 10px ;
    margin-left: 4px ;
}
/*Footer*/
footer
{
    font-weight: bold;
}

/*carousel*/
.carousel-inner img {
    width: 100%;
    max-height: 818px;
}

.carousel-inner{
    height: 818px;
}
/*Detalle*/
.container
{
    margin-top: 110px !important;
}

.card
{
    font-weight: bold;
    margin-left: 150px;
    border: none !important;
    outline: none;
    background-color: transparent !important;
    border-radius: 20px;
}